@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <form type="submit" method="post">
        <input type="search" asp-for="SearchText" value=""/>
        <input type="submit" value="Search"/>
    </form>
</div>